body {
  font-family: 'Poppins', sans-serif;
}

header {
  text-align: center;
  padding: 20px;
}

main {
  display: flex;
  justify-content: space-between;
}

aside {
  width: 50%; 
  padding: 48px;
  box-sizing: border-box;
}

#result-container {
  padding: 20px;
  box-sizing: border-box;
  flex-direction: column;
}

h2 {
  margin-bottom: 20px;
}

.result-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.result-card p {
  margin: 10px 0;
  font-size: 18px;
  color: #333;
}

.result-card p strong {
  color: #2c3e50;
  font-weight: bold;
}

.result-card button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #20b2aa;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.result-card button:hover {
  background-color: #1e8e8e;
}


.result-card p {
  margin: 15px 0;  
  font-size: 18px; 
  color: #333;  
}

.result-card p strong {
  color: #2c3e50;  
  font-weight: bold;
}

.result-card button {
  margin-top: 20px;  
  padding: 10px 20px; 
  font-size: 16px;  
  background-color: #20b2aa;  
  color: white;  
  border: none; 
  border-radius: 5px;  
  cursor: pointer;  
}

.result-card button:hover {
  background-color: #1e8e8e;  
}

.result-card p:nth-child(1) {
  font-size: 40px;  
  font-weight: bold;
  color: lightseagreen;  
}

.result-card p:nth-child(2) {
  font-size: 20px;  
  font-weight: bold;
  color: red;  
}

.result-card p:nth-child(3) {
  font-size: 16px;  
  color: #8e44ad;  
  font-style: italic; 
}




.download-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: lightseagreen;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.download-btn:hover {
  background-color: darkslategrey;
}


.button {
  height: 40px;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  margin: 10px;
  cursor: pointer;
}

.bg-lightseagreen {
  background-color: lightseagreen;
}

.bg-reset {
  background-color: red;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.info-section, .info-card {
  margin-bottom: 20px;
}

.center-container {  
  display: flex;  
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
}  

.app-download {  
  display: flex;  
  justify-content: center; 
  gap: 10px; 
}  

.app-image {  
  width: 100px; 
  height: auto; 
}

.form-btn-container {
  margin-top: 24px;
  margin-bottom: 16px;
}

.form-group {
  margin-bottom: 16px;
}

.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-container i {
  margin: 1px;
  color: gray;
  cursor: pointer;
  font-size: 14px;
  border-right: 1px solid #ccc;
  padding-right: 10px;
  padding-left: 10px;
}

input[type=number] {
  width: 100%;
  padding: 12px 20px;
  border: none;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 14px;
}

h3 {
  display: flex;
  align-items: center;
}

p {
  text-align: justify;
}

footer p {
  text-align: center;
  font-size: 11px;
}

span {
  font-weight: bold;
}
