/* ini CSS */
.main-title {
  text-align: center;
}

main {
  display: flex;
}

form {
  padding: 12px;
  background-color: lightcyan;
}

aside {
  padding: 48px;
}

.button {
  height: 32px;
  background-color: lightskyblue;
  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.bg-lightseagreen {
  background-color: lightseagreen;
}

.bg-reset {
  background-color: red;
  color: white;
}

.form-btn-container {
  margin-top: 24px;
  margin-bottom: 16px;
}

input [type=number]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 14px;
}

footer {
    text-align: center;
}
